.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}
.box{
    height: 150px;
    width: 150px;
    margin: 20px;
border: 2px solid orange;
background-color: aqua;
/* transition: 0.5s; */
/* transition-property:  background-color; */
/* transition-delay: 1s; */
/* transition: transform 10s ease 3s; */
/* transition: background-color 1s ease 3s; */
/* transition: all 500ms ease ; */
/* transition: transform 1s cubic-bezier(1,-0.09,0,1.68); */
transition-property: transform;
transition-duration: 3s;
transition-timing-function: cubic-bezier(1,-0.09,0,1.68);
transition-delay: 1s;

}
.box:hover{
    background-color: brown;
    transform: scale(2) translateX(500px) rotate(360deg);
}